body {
  background-image: linear-gradient(to bottom, #f3dfa2, #7ebdc2, greenyellow);
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  padding: 1em;
  min-height: 100vh;
}
